@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
    
}

.message {
    background: rgba(255, 0, 0, 70%);
    border: 3px solid #DC143C;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #00BFFF, #483D8B);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > img {
  width: 15px;
  
}

.left-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFF;
    border-radius: 10px;
}

.left-container > h1 {
    color: #4169E1;
    font-size: 3vw;
}

.left-image {
    width: 34vw;
}

.right-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0px 1.5px 10px #000;
}

.card-login > h1 {
    color: #4169E1;
    font-weight: 800;
    margin: 0;
}

form {
    box-sizing: border-box;
    background: red;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #F5FFFA;
    color: #708090;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #708090;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #4169E1;
    font-weight: 600;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #708090;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #4169E1;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #708090;

    transition: filter 0.2s;
}

.btn-login:hover {
    filter: brightness(0.8);
}

@media only screen and (max-width: 950px){
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .container {
        flex-direction: column;
    }

    .left-container > h1 {
        display: none;
    }

    .left-container {
        width: 100%;
        height: auto;
    }

    .right-container {
        width: 100%;
        height: auto;
    }

    .left-image {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }
}